<div class="row headerSearch">
    <div class="container">
    <ul class="nav navbar-nav">
        <li class="col-xs-4">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                    <span class="overflowDots" ng-bind="selectedCategoria.categoriaNombre"></span>
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li  ng-repeat="categoria in categorias" role="presentation">
                        <a role="menuitem" tabindex="-1" href="#" ng-click="selectCategoria($event,categoria)">{{categoria.categoriaNombre}}</a>
                    </li>
                </ul>
              </div>                
        </li>
        <li class="col-xs-4">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="true">
                  <span class="overflowDots" ng-bind="depSelected.nombreDepartamento"></span>
                  <span class="caret"></span> 
                </button>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu2">
                    <li  ng-repeat="dep in departamentosList" role="presentation">
                        <a role="menuitem" tabindex="-1" href="#" ng-click="selectDepartamento($event,dep)">{{dep.nombreDepartamento}}</a>
                    </li>
                </ul>
              </div>                
        </li>
        <li class="col-xs-3">
            <div class="input-group"> 
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
                </span>
                <input type="text" class="form-control" placeholder="Buscar...">
            </div>
        </li>
    </ul>
    </div>
</div>