<div class="row headerSearch">
    <div class="container">
        <div class="row" style="margin-bottom: 10px;">
            <ul class="nav navbar-nav col-xs-12">
                <li class="col-xs-3">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                            <span class="overflowDots" ng-bind="selectedCategoria.categoriaNombre"></span>
                          <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu filterUl" role="menu" aria-labelledby="dropdownMenu1">
                            <li>
                                <div class="input-group"> 
                                  <span class="input-group-btn">
                                      <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
                                  </span>
                                  <input type="text" class="form-control" ng-click="categoriasFilterClk($event)" ng-model="categoriaFilter" placeholder="Filtro de categorias">
                                </div>
                            </li>
                            <li  ng-repeat="categoria in categorias | filter:categoriaFilter" role="presentation">
                                <a role="menuitem" tabindex="-1" href="#" ng-click="selectCategoria($event,categoria)">{{categoria.categoriaNombre}}</a>
                            </li>
                        </ul>
                      </div>                
                </li>
                <li class="col-xs-3">
                    <div class="dropdown">
                        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-expanded="true">
                          <span class="overflowDots" ng-bind="depSelected.nombreDepartamento"></span>
                          <span class="caret"></span> 
                        </button>
                        <ul class="dropdown-menu filterUl" role="menu" aria-labelledby="dropdownMenu2">
                            <li>
                                <div class="input-group"> 
                                  <span class="input-group-btn">
                                      <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
                                  </span>
                                  <input type="text" class="form-control" ng-click="categoriasFilterClk($event)" ng-model="dptoFilter" placeholder="Filtro de departamentos">
                                </div>
                            </li>
                            <li  ng-repeat="dep in departamentosList | filter:dptoFilter" role="presentation">
                                <a role="menuitem" tabindex="-1" href="#" ng-click="selectDepartamento($event,dep)">{{dep.nombreDepartamento}}</a>
                            </li>
                        </ul>
                    </div>                
                </li>
                <li class="col-xs-3">
                    <div class="input-group"> 
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
                        </span>
                        <input type="text" class="form-control" ng-model="buscoProf" placeholder="Buscar...">
                    </div>
                </li>
                <li class="col-xs-3">
                    <i ng-class="{'searchIconActive':selectedList === 1}" ng-click="setListType(1)" class="glyphicon glyphicon-list searchIcons"></i>
                    <i ng-class="{'searchIconActive':selectedList === 2}" ng-click="setListType(2)" class="glyphicon glyphicon-th-large searchIcons"></i>
                </li>
            </ul>
        </div>
        <div class="panel panel-primary" ng-if="selectedList === 1">
            <div class="panel-heading">
                <h3 class="panel-title">Usuarios</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <table class="table">
                        <thead>
                          <tr>
                            <th>Usuario</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Email</th>
                            <th>Telefono</th>
                            <th>Celular</th>
                            <th>Direccion</th>
                            <th>departamento</th>
                            <th>categoria</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="user in users | filter:buscoProf">
                            <td>{{user.username}}</td>
                            <td>{{user.nombre}}</td>
                            <td>{{user.apellido}}</td>
                            <td>{{user.email}}</td>
                            <td>{{user.telefono}}</td>
                            <!-- TODO ADD IMG user.imagenUrl-->
                            <td>{{user.celular}}</td>
                            <td>{{user.direccion}}</td>
                            <td>{{user.departamento}}</td>
                            <td>{{user.categoria}}</td>
                          </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
        <div class="row" ng-if="selectedList === 2">
            <div class="col-xs-4 " ng-repeat="user in users | filter:buscoProf">
                <div class="col-xs-12 card" ng-click="showUserInfo(user)">
                    <div class="row">
                        <div class="col-xs-4">
                            <img ng-if="user.imagenUrl !== ''" ng-src="{{$location.absUrl().split('#')[0] + 'resources/img/uploaded/' +  user.imagenUrl}}">
                        </div>
                        <div class="col-xs-8">
                            <div class="row">
                                <h2 ng-bind="user.nombre + ' ' + user.apellido"></h2>
                            </div>
                            <div class="row">
                                <p ng-bind="user.descService" style='text-transform: capitalize;'></p>
                            </div>
                            <div class="row">
                                <label>Teléfono: </label>
                                <span ng-bind="user.telefono"></span>
                            </div>
                            <div class="row">
                                <label>Dirección: </label>
                                <span ng-bind="user.direccion"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-primary pull-right" ng-click='sendMailToUser($event,user)'>
                                <i class="glyphicon glyphicon-envelope"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>