<div class="modal-header">
    <h3 class="modal-title">Editar Contraseña</h3>
</div>
<form ng-submit="editarPwd($event)" id="editPwdForm" name="editPwdForm" role="form" method="POST">
    <div class="modal-body">
        <div class="modal-body">
            <div class="form-group">
                <label for="pwdActual">Contraseña actual</label>
                <input type="password" class="form-control" name="pwdActual" ng-model="userLogin.oldPwd" placeholder="contraseña" required>
            </div>
            <div class="form-group">
                <label for="pwdNueva">Nueva contraseña</label>
                <input type="password" class="form-control" name="pwdNueva"  ng-model="userLogin.newPwd" placeholder="contraseña" 
                       ng-minlength=6 required>
            </div>
            <div class="form-group">
                <label for="pwdNueva">Confirmar nueva contraseña</label>

                <input type="password" class="form-control" name="passwordConfirm" ng-model="userLogin.newPwdRep" placeholder="Confirmar Contraseña" 
                       required ng-minlength=6 ng-model-options="{ updateOn: 'blur' }" compare-to="editPwdForm.pwdNueva.$viewValue">
                <span ng-show="editPwdForm.passwordConfirm.$touched && editPwdForm.passwordConfirm.$error.compareTo" class="error">Contraseñas no coinciden</span> </div>
            <div class="form-group hide">
                <span id="logInErrors" class="error"></span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-default" ng-disabled="editForm.$invalid">Guardar</button>
        <button class="btn btn-primary" ng-click="cancel()">Cerrar</button>
    </div>
</form>
