<script type="text/ng-template" id="myModalContent.html">
    <div class="modal-header">
        <h3 class="modal-title">Registro de usuario</h3>
    </div>
    <form id="logInForm" role="form" action="login.php" method="POST">
        <div class="modal-body">
            <div class="modal-body">
                    <div class="form-group">
                        <label for="userName">Usuario:</label>
                        <input type="text" name="username" class="form-control" id="userName" placeholder="usuario" required>
                    </div>
                    <div class="form-group">
                        <label for="pwd">Contraseña:</label>
                        <input type="password" class="form-control" name="password" id="pwd" placeholder="contraseña" required>
                    </div>
                    <div class="form-group hide">
                        <span id="logInErrors" class="error"></span>
                    </div>
                </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-default" ng-click="ok()">Ingresar</button>
            <button class="btn btn-primary" ng-click="cancel()">Cerrar</button>
        </div>
    </form>
</script>