<div class="panel panel-primary user-details"  collapse="elemColapsed">
           <div class="panel-heading">
                <h3 class="panel-title">{{selectedUser.nombre}} {{selectedUser.apellido}}</h3>
                <button  type="button" class="close" ng-click="elemColapsed = true" style="position: relative;top: -18px;">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-xs-3 col-md-2 col-sm-3">
                        <div class='row'>
                            <div class="col-xs-12 col-md-12 col-sm-12">
                                <img class="img-responsive img-rounded" ng-if="selectedUser.imagenUrl !== ''" ng-src="{{'resources/img/uploaded/' +  selectedUser.imagenUrl}}">
                                <i ng-if="user.imagenUrl === '' || user.imagenUrl === undefined" class="img-responsive fa fa-user"></i>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-9 col-md-10 col-sm-3">
                        <div class="row">
                            <label>Descripción Del Servicio:</label>
                            <p ng-bind="selectedUser.descService" style='text-transform: capitalize;'></p>
                        </div>
                        <div class="row">
                            <i class="fa fa-phone-square" title="Telefono"></i>
                            <span ng-bind="selectedUser.telefono"></span>
                        </div>
                        <div class="row">
                            <i class="fa fa-mobile" title="Celular"></i>
                            <span ng-bind="selectedUser.celular"></span>
                        </div>
                        <div class="row">
                            <label>Dirección: </label>
                            <span ng-bind="selectedUser.direccion"></span>
                        </div>
                    </div>
                </div>
                <div class='row marginRow'>
                    <div class="col-xs-12 col-md-12 col-sm-12">
                        <tabset>
                            <tab ng-repeat="tab in tabs" heading="{{tab.title}}" active="tab.active" disabled="tab.disabled">
                                <!--{{tab.content}}-->
                                <div ng-include="tab.content"></div>
                            </tab>
                        </tabset>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group big-fa col-xs-12">
                        <prof-a-custom href-Link="selectedUser.facebookUrl" icon="fa fa-facebook-official" icon-Title="Facebook"></prof-a-custom>
                        <prof-a-custom href-Link="selectedUser.twitterUrl" icon="fa fa-twitter-square" icon-Title="Twitter"></prof-a-custom>
                        <prof-a-custom href-Link="selectedUser.linkedinUrl" icon="fa fa-linkedin-square" icon-Title="Linkedin"></prof-a-custom>
                        <button type="submit" class="btn btn-primary pull-right" title="Enviar mail" ng-click='sendMailToUser($event,selectedUser)'>
                            <i class="glyphicon glyphicon-envelope"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>