<div class="row" ng-show="registro.mostrarRegistro && !newUser">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-12 col-sm-12">
                    <h3>Editar usuario {{currentUsername}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" ng-hide="registro.mostrarRegistro">
    <div class="row">
        <div class="container registroProf">
            <div class="row specialRow">
                <div class="col-xs-12 col-md-12 col-sm-12 registerTitle">
                    <div class="special-white-bg col-sm-9"><h1>Haga crecer su negocio con Profesionales.uy!</h1>
                    <h3>¿Qué le ofrecemos?</h3>
                    <p>
                        <i class="fa fa-check-circle-o"></i>Un completo anuncio donde le van a ver miles de personas y empresas interesados en sus servicios.<br />
                        <i class="fa fa-check-circle-o"></i>Una plataforma de comunicación y marketing de referencia en el sector de profesionales online.<br />
                        <i class="fa fa-check-circle-o"></i>Un completo equipo de profesionales a su servicio que va hacer crecer su negocio.
                    </p>
                    </div>
                    <div class="niceBackground col-xs-12 col-sm-8 col-md-6">
                        <h3 class="superH1">Registro Gratis Por 3 Meses!</h3>
                        <button class="btn btn-primary" ng-click="showPlan(0)"><i class="glyphicon glyphicon-education"></i> Profesional</button>
                        <button class="btn btn-primary" ng-click="showPlan(1)"><i class="glyphicon glyphicon-briefcase"></i> Empresas</button>
                    </div>
                    
                
                </div>
            </div>
            <!-- <div class="row" style="margin-top:15px;">
                <div class="col-xs-12 col-md-6 col-sm-6">
                    <div class="col-xs-12 col-md-12 col-sm-12 card" ng-class="{
                            'true'
                            :'cardhover', 'false':''}[selectedPlan.tipo === 0]" ng-click="showPlan(0)">
                        <div class="thumbnail">
                            <div class="caption">
                                <h2><i class="glyphicon glyphicon-education"></i> Profesional</h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6 col-sm-6">
                    <div class="col-xs-12 col-md-12 col-sm-12 card" ng-class="{
                            'true'
                            :'cardhover', 'false':''}[selectedPlan.tipo === 1]" ng-click="showPlan(1)">
                        <div class="thumbnail">

                            <div class="caption">
                                <h2><i class="glyphicon glyphicon-briefcase"></i> Empresas</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div> -->
            <planes-details selected-plan-fn="showRegistration(e,tipo,duracion,categoria)" selected-plan="selectedPlan" elem-colapsed="isCollapsed" available-plans="profesionalesAvailablePlans"></planes-details>
        </div>  
    </div>
</div>
<form ng-submit="registrarUsuario(registerUser.$valid)" name="registerUser" style="padding-top: 10px" ng-show="registro.mostrarRegistro" 
      method="post" novalidate>
    <div class="panel panel-primary">
        <div class="panel-heading" style='position:relative'>
            <h3 class="panel-title" ng-hide="registro.empresa">Datos personales de contacto</h3>
            <h3 class="panel-title" ng-show="registro.empresa">Datos de la Empresa</h3>
            <button class="btn btn-default volver-header" ng-click="goBackRegistration($event)">Volver <i class="fa fa-reply"></i></button>
        </div>
        <div class="panel-body personalData">
            <div class="row ">
                <div class="form-group col-xs-12 col-md-4">
                    <input type="text" class="form-control" name="nombre" ng-model="user.nombre" placeholder="Nombre" required>
                    <span class="requiredAst">*</span>
                    <span ng-show="registerUser.nombre.$touched && registerUser.nombre.$error.required" class="error">Nombre es requerido.</span>
                </div>
                <div class="form-group col-xs-12 col-md-4" ng-hide="registro.empresa">
                    <input type="text" class="form-control" name="apellido" ng-model="user.apellido" placeholder="Apellido" ng-required="!registro.empresa">
                    <span class="requiredAst">*</span>
                    <span ng-show="registerUser.apellido.$touched && registerUser.apellido.$error.required" class="error">Apellido es requerido.</span>
                </div>
                <div class="form-group col-xs-10 col-md-3">
                    <span class="requiredAst">*</span>
                    <input type="text" class="form-control" name="username" ng-model="user.username" placeholder="Nombre de usuario" 
                           required username ng-model-options="{ debounce: 500 }">
                    <span ng-show="registerUser.username.$touched && registerUser.username.$error.required" class="error">Nombre de usuario es requerido.</span>
                    <span ng-show="registerUser.username.$pending.username" class="alert-info">Comprobando disponibilidad...</span>
                    <span ng-show="registerUser.username.$error.username && registerUser.username.$touched" class="error">
                        Nombre de usuario en uso.
                    </span>
                </div>
                <div class="form-group">
                    <span class="requiredAst">*</span>
                    <i class="fa fa-check-circle fa-lg" ng-show="!registerUser.username.$error.username && !registerUser.username.$error.required && registerUser.username.$touched" style="color: green;"></i>                                        
                    <i class="fa fa-times fa-lg" ng-show="registerUser.username.$error.username && registerUser.username.$touched" style="color: red;"></i>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-12 col-md-4" ng-show="newUser">
                    <span class="requiredAst">*</span>
                    <input type="password" class="form-control" name="password" ng-model="user.password" placeholder="Contraseña" 
                           required ng-minlength=6>
                    <span ng-show="registerUser.password.$error.minlength" class="error">La contraseña debe ser de al menos 6 caracteres.</span>
                    <span ng-show="registerUser.password.$touched && registerUser.password.$error.required" class="error">Contraseña es requerida.</span>
                </div>
                <div class="form-group col-xs-12 col-md-4" ng-show="newUser">
                    <span class="requiredAst">*</span>
                    <input type="password" class="form-control" name="passwordConfirm" ng-model="user.passwordConfirm" placeholder="Confirmar Contraseña" 
                           required ng-minlength=6 ng-model-options="{ updateOn: 'blur' }" compare-to="registerUser.password.$viewValue">
                    <span ng-show="registerUser.passwordConfirm.$error.minlength" class="error">La contraseña debe ser de al menos 6 caracteres. </span>
                    <span ng-show="registerUser.passwordConfirm.$touched && registerUser.passwordConfirm.$error.compareTo" class="error">Contraseñas no coinciden.</span>
                </div>
                <div class="form-group col-xs-10 col-md-3">
                    <input type="email" class="form-control" name="email" ng-model="user.email" placeholder="Email" required
                           email-unique ng-model-options="{ debounce: 500 }">
                    <span ng-show="registerUser.email.$touched && registerUser.email.$error.required" class="error">Email es requerido.</span>
                    <span ng-show="registerUser.email.$touched && !registerUser.email.$error.required && registerUser.email.$error.email" class="error">Email debe ser: XXX@XXX.com</span>

                    <span ng-show="registerUser.email.$pending.emailUnique" class="alert-info">Comprobando...</span>
                    <span ng-show="registerUser.email.$error.emailUnique && registerUser.email.$touched" class="error">
                        Email en uso
                    </span>

                </div>
                <div class="form-group">
                    <span class="requiredAst">*</span>
                    <i class="fa fa-check-circle fa-lg" ng-show="!registerUser.email.$error.emailUnique && !registerUser.email.$error.required && registerUser.email.$touched" style="color: green;"></i>                                        
                    <i class="fa fa-times fa-lg" ng-show="registerUser.email.$error.emailUnique && registerUser.email.$touched" style="color: red;"></i>
                </div>


            </div>
            <div class="row ">
                <div class="form-group col-xs-12 col-md-4" ng-hide="registro.empresa">
                    <span class="requiredAst">*</span>
                    <input type="text" class="form-control" name="telefono" ng-model="user.telefono" placeholder="Telefono" ng-required="!registro.empresa" ng-pattern="/^[0-9]+$/">
                    <span ng-show="registerUser.telefono.$touched && registerUser.telefono.$error.required" class="error">Telefono es requerido.</span>
                    <span ng-show="registerUser.telefono.$touched && !registerUser.telefono.$error.required && registerUser.telefono.$error.pattern" class="error">Telefono inválido.</span>
                </div>
                <div class="form-group col-xs-12 col-md-4" ng-hide="registro.empresa">
                    <input type="text" class="form-control" name="celular" ng-model="user.celular" placeholder="Celular" ng-pattern="/^[0-9]+$/">
                    <span ng-show="registerUser.celular.$touched && registerUser.celular.$error.pattern" class="error">Telefono inválido.</span>
                </div>

            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Datos de tu negocio</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="form-group col-xs-12 col-md-3">
                    <dropdown-w-validation check-fn="checkCategoria(elem)" error-msg="Seleccione una categoria" post-Selection-Fn="dropDownCheck()" selected-Elem="selectedCategoria" name-Prop="categoriaNombre" elements-Arr="categorias" placeholder-Filter="Filtro de categorias"></dropdown-w-validation>
                </div>
                <div class="form-group col-xs-12 col-md-3">
                    <dropdown-w-validation check-fn="checkDepto(elem)" error-msg="Seleccione un departamento" post-Selection-Fn="dropDownCheck()" selected-Elem="depSelected" name-Prop="nombreDepartamento" elements-Arr="departamentosList" placeholder-Filter="Filtro de departamentos"></dropdown-w-validation> 
                </div>
                <div class="form-group col-xs-12 col-md-3" ng-show="depSelected.nombreDepartamento === 'Montevideo'">
                    <dropdown-w-validation check-fn="checkBarrio(elem)" error-msg="Seleccione un barrio de Mdeo" post-Selection-Fn="dropDownCheck()" selected-Elem="selectedBarrio" name-Prop="barrioNombre" elements-Arr="barrios" placeholder-Filter="Filtro de barrios"></dropdown-w-validation>                     
                </div>
                <div class="form-group col-xs-12 col-md-3">
                    <!--<span class="requiredAst">*</span>-->
                    <input type="text" name="direccion" class="form-control" ng-model="user.direccion" placeholder="Direccion" required>
                    <!--<span ng-show="registerUser.direccion.$touched && registerUser.direccion.$error.required" class="error">Direccion es requerido</span>-->
                </div>
            </div>
            <div class="row ">
                <div class="form-group col-xs-12 col-md-4">
                    <span class="requiredAst">*</span>
                    <input type="text" name="telefonoEmp" class="form-control" ng-model="user.telefonoEmp" placeholder="Telefono Empresa" required ng-pattern="/^[0-9]+$/">
                    <span ng-show="registerUser.telefonoEmp.$touched && registerUser.telefonoEmp.$error.required" class="error">Teléfono es requerido</span>
                    <span ng-show="registerUser.telefonoEmp.$touched && !registerUser.telefonoEmp.$error.required && registerUser.telefonoEmp.$error.pattern" class="error">Teléfono inválido</span>
                </div>
                <div class="form-group col-xs-12 col-md-4">
                    <input type="url" name="sitioWeb" class="form-control" ng-model="user.sitioWeb" placeholder="Sitio Web">
                    <span ng-show="registerUser.sitioWeb.$touched && registerUser.sitioWeb.$error.url" class="error">URL inválida</span>
                </div>
                <div class="form-group col-xs-12 col-md-4" ng-show="newUser">

                    <input id="uploadFile" name="imageUpload" class="form-control" style="display: inline-block; width: 85%" 
                           placeholder="Foto o Logo" disabled="disabled" ng-model="files[0].name"/>
                    <div class="fileUpload btn btn-primary">
                        <span class="glyphicon glyphicon-folder-open"></span>
                        <input id="uploadBtn" type="file" class="upload" ng-file-select ng-model="files" image-upload/>
                    </div>
                </div>

            </div>
            <div class="row ">
                <div class="form-group col-xs-12 col-md-4">
                    <input type="url" name="facebookUrl" class="form-control" title="Clickea en tu perfil de facebook y copia la url del browser" ng-model="user.facebookUrl" placeholder="Enlace de Facebook ej: https://www.facebook.com/pages/Profesionales-UY/1623709471210001" >
                    <span ng-show="registerUser.facebookUrl.$touched && registerUser.facebookUrl.$error.url" class="error">URL inválida</span>
                </div>
                <div class="form-group col-xs-12 col-md-4">
                    <input type="url" name="twitterUrl" class="form-control" title="Clickea en tu perfil de twiter y copia la url del browser" ng-model="user.twitterUrl" placeholder="Enlace de Twitter" >
                    <span ng-show="registerUser.twitterUrl.$touched && registerUser.twitterUrl.$error.url" class="error">URL inválida</span>
                </div>
                <div class="form-group col-xs-12 col-md-4">
                    <input type="url" name="linkedinUrl" class="form-control" title="Clickea en tu perfil de linkedin y copia la url del browser" ng-model="user.linkedinUrl" placeholder="Enlace de Linkedin">
                    <span ng-show="registerUser.linkedinUrl.$touched && registerUser.linkedinUrl.$error.url" class="error">URL inválida</span>
                </div>

            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Ubicación en mapa</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="form-group col-xs-12 col-md-12 col-sm-12"> 
                    <label>Haga click en el mapa para establecer la ubicación</label>
                </div>
            </div>

            <map-Set-Markers ng-if="registro.mostrarRegistro" markers-Arr="markers"></map-Set-Markers>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Servicios Prestados</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="form-group col-xs-12">
                    <textarea class="form-control " name="descService" rows="2" ng-model="user.descService" placeholder="Breve Descripción: Que es lo que hace su empresa? En que se destaca? Que necesidad satisface?" maxlength="150"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-12 col-md-4">
                    <input type="text" class="form-control" name="servicioOfrecido1" ng-model="user.servicioOfrecido1" placeholder="Servicio ofrecido: palabras clave" maxlength="20" >
                </div>
                <div class="form-group col-xs-12 col-md-4">
                    <input type="text" class="form-control" name="servicioOfrecido2" ng-model="user.servicioOfrecido2" placeholder="Servicio ofrecido: palabras clave" maxlength="20" >
                </div>
                <div class="form-group col-xs-12 col-md-4">
                    <input type="text" class="form-control" name="servicioOfrecido3" ng-model="user.servicioOfrecido3" placeholder="Servicio ofrecido: palabras clave" maxlength="20" >
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-12 col-md-4">
                    <input type="text" class="form-control" name="servicioOfrecido4" ng-model="user.servicioOfrecido4" placeholder="Servicio ofrecido: palabras clave" maxlength="20" >
                </div>
                <div class="form-group col-xs-12 col-md-4">
                    <input type="text" class="form-control" name="servicioOfrecido5" ng-model="user.servicioOfrecido5" placeholder="Servicio ofrecido: palabras clave" maxlength="20" >
                </div>
                <div class="form-group col-xs-12 col-md-4">
                    <input type="text" class="form-control" name="servicioOfrecido6" ng-model="user.servicioOfrecido6" placeholder="Servicio ofrecido: palabras clave" maxlength="20" >
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Describa su negocio y/o servicios</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="form-group col-xs-12">
                    <textarea class="form-control" name="descServiceLong" rows="6" ng-model="user.descServiceLong" placeholder="Describir en detalle todos los servicios que cubres" maxlength="1000"></textarea>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-12 col-md-2"> 
                    <label>Formas de Pago</label>
                </div>
                <div class="form-group col-xs-12 col-md-6">
                    <div class="row">
                        <div class="col-xs-12 col-md-4">
                            <div class="btn-group">
                                <label class="btn btn-default" ng-model="user.formaDePago.contado" btn-checkbox>Contado</label>
                                <label class="btn btn-default" ng-model="user.formaDePago.debito" btn-checkbox>Débito</label>
                                <label class="btn btn-default" ng-model="user.formaDePago.credito" btn-checkbox>Crédito</label>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-5">
                            <input type="text" class="form-control" ng-model="user.formaDePago.otras" placeholder="Otras" maxlength="30" >
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-12 col-md-2"> 
                    <label>Dias de atención</label>
                </div>
                <div class="form-group col-xs-12 col-md-6">
                    <div class="btn-group">
                        <label class="btn btn-default" ng-model="user.diasAtencion.lunes" btn-checkbox>Lunes</label>
                        <label class="btn btn-default" ng-model="user.diasAtencion.martes" btn-checkbox>Martes</label>
                        <label class="btn btn-default" ng-model="user.diasAtencion.miercoles" btn-checkbox>Miércoles</label>
                        <label class="btn btn-default" ng-model="user.diasAtencion.jueves" btn-checkbox>Jueves</label>
                        <label class="btn btn-default" ng-model="user.diasAtencion.viernes" btn-checkbox>Viernes</label>
                        <label class="btn btn-default" ng-model="user.diasAtencion.sabado" btn-checkbox>Sábado</label>
                        <label class="btn btn-default" ng-model="user.diasAtencion.domingo" btn-checkbox>Domingo</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group col-xs-12 col-md-2"> 
                    <label>Horario de atención</label>
                </div>
                <div class="form-group col-xs-12 col-md-2">  
                    <label for="horaComienzo">Desde</label>
                    <timepicker name='horaComienzo' ng-model="user.horaComienzo" hour-step="1" minute-step="10" show-meridian="false" ng-change="checkTime()"></timepicker>
                </div>
                <div class="form-group col-xs-12 col-md-2">           
                    <label for="horaComienzo">Hasta</label>
                    <timepicker name='horaFin' ng-model="user.horaFin" hour-step="1" minute-step="10" show-meridian="false" ng-change="checkTime()"></timepicker>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="form-group col-md-12">
            <button type="submit" class="btn btn-primary pull-right" title="[]" ng-disabled="registerUser.$invalid || dropdownsValid" ng-show="newUser">Registrarme</button>
            <button type="submit" class="btn btn-primary pull-right" title="[]" ng-disabled="registerUser.$invalid || dropdownsValid" ng-hide="newUser">Guardar cambios</button>
            <button class="btn btn-default pull-right" style="margin-right: 15px;" ng-click="goBackRegistration($event)"><i class="fa fa-reply"></i></button>
        </div>
    </div>
</form>
