<h1>¿Olvidó su contraseña?</h1>
<h3>Ingrese Nombre de usuario o email para restaurar la contraseña.</h3>
<div class="form-group">
    <label for="userName">Usuario:</label>
    <input type="text" name="username" class="form-control" id="userName" ng-model="userLogin.username" placeholder="usuario" required>
</div>
<div class="form-group col-xs-10 col-md-3">
    <span class="requiredAst">*</span>
    <input type="email" class="form-control" name="email" ng-model="user.email" maxlength="60" placeholder="Email" required
           email-unique ng-model-options="{ debounce: 500 }">
    <span ng-show="registerUser.email.$touched && registerUser.email.$error.required" class="error">Email es requerido.</span>
    <span ng-show="registerUser.email.$touched && !registerUser.email.$error.required && registerUser.email.$error.email" class="error">Email debe ser: XXX@XXX.com</span>
    <span ng-show="registerUser.email.$pending.emailUnique" class="alert-info">Comprobando...</span>
    <span ng-show="!registerUser.email.$error.emailUnique && registerUser.email.$touched" class="error">
        Email en no en uso, por favor ingrese un email correcto.
    </span>
</div>
