<div class="row">
    <div class="col-xs-12">
        <label>Descripción detallada del servicio</label>
        <textarea id="descServiceLong" class="textareaCustom longDesc" disabled="disabled" ng-bind="selectedUser.descServiceLong"></textarea>
        <label style="margin:15px 0;">Servicios Ofrecidos</label>
        <div class="row" style="margin-bottom: 15px;">
            <div class="col-xs-6 col-sm-4" ><label class="servOfSpans" ng-if="selectedUser.servicioOfrecido1" ng-bind="selectedUser.servicioOfrecido1"></label></div>
            <div class="col-xs-6 col-sm-4" ><label class="servOfSpans" ng-if="selectedUser.servicioOfrecido2" ng-bind="selectedUser.servicioOfrecido2"></label></div>
            <div class="col-xs-6 col-sm-4" ><label class="servOfSpans" ng-if="selectedUser.servicioOfrecido3" ng-bind="selectedUser.servicioOfrecido3"></label></div>
            <div class="col-xs-6 col-sm-4" ><label class="servOfSpans"  ng-if="selectedUser.servicioOfrecido4" ng-bind="selectedUser.servicioOfrecido4"></label></div>
            <div class="col-xs-6 col-sm-4" ><label class="servOfSpans"  ng-if="selectedUser.servicioOfrecido5" ng-bind="selectedUser.servicioOfrecido5"></label></div>
            <div class="col-xs-6 col-sm-4" ><label class="servOfSpans"  ng-if="selectedUser.servicioOfrecido6" ng-bind="selectedUser.servicioOfrecido6"></label></div>
        </div>
    </div>
</div>


