body {
    padding-top: 70px;
    color: #888888;
}
h2{
    color: #5b616a;
}

header >nav{
    background: #2B4DA5;
    border-bottom: 2px solid #20429D;
}

.navbar-fixed-top .navbar-header > a,.navbar-inverse .navbar-nav>li>a
{
    color:#FFFFFF!important;
}

.navbar-fixed-top .navbar-header > a:hover,.navbar-inverse .navbar-nav>li>a:hover
{
    transition: background-color 1900ms;
    background-color: #324C8C;
}

.panel-primary
{
    /*background: #c00;*/
    border-color:#324C8C;
    
}
.panel-primary>.panel-heading{
    border-color: #1F439E;
    background: #2B4DA5;
}
.form-control:focus {
    border-color: #E96666;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(233, 102, 102, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(233, 102, 102, 0.6);
}

.dropdown-menu
{
    max-height: 500px;
    overflow-y:scroll; 
}
.overflowDots
{
    display:inline-block;
    width:90%;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
    line-height: 15px;
    text-align: left;
    color: #5b616a;
}
.hideAll{
    display:none;
}
.btn
{
    padding: 7px 12px 4px;
}
.btn-primary
{
    background: #2B4DA5;
    border: 2px solid #1E42A0;
}

.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary
{
    background:#B60000;
    border: 2px solid #A30303;
}

.btn-primary[disabled]
{
    background: #2B4DA5;
    border: 2px solid #1E42A0;
}

.caret
{
    padding-top: 10px;
}
.form-control
{
    height: 33px;
}

.filterUl
{
    padding-top: 0;
}

.filterUl .btn-default
{
    border-radius: 0;
    border-top: none;
    border-left: none;
    padding-top: 8px;
}

.filterUl input
{
    border-top: none;
    border-radius: 0;
    border-right: none;
}

.filterUl .form-control:focus {
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.searchIcons
{
    background-color: #C54D4D;
    border: 1px solid #C54D4D;
    color: #FFFFFF;
    padding: 2px;    
    border-radius: 3px;
    font-size: 25px;
    margin-right: 5px;
    cursor:pointer;
}
.glyphicon-th-large
{
    padding-left: 4px;
}

.searchIcons:hover,.searchIconActive
{
    background: #c00;
    border: 1px solid #990000;
}

.card
{
    background: rgba(187, 200, 0, 0.09);
    box-shadow: 0 0 1em rgba(187, 200, 0, 0.28);
    margin-bottom: 17px;
    border-radius: 5px;
}

.card img
{
    margin-top: 4px;
    width: 100%;
    max-height: 200px;
}

.card h2
{
    margin-top: 4px;
}

.card:hover,.cardhover
{
    box-shadow: 0 0 1em #324C8C;
    cursor: pointer;
}

.cardhover{
      background-color: #324C8C;
}

.card:hover{
    transition: box-shadow 1900ms;
    transition: background-color 1900ms;
    background-color: #324C8C;
}

.busquedaprofList .card:hover{
    background-color: #FFFFFF;
}

.cardhover>.thumbnail{
    background: #EAEAEA;  
}

.card .glyphicon-envelope
{
    font-size: 16px;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus
{
    outline:none;
}

.fa-facebook-official
{
    color: #3a5795;
}
.fa-twitter-square
{
    color: #00aced;
}
.fa-linkedin-square
{
    color: #007bb6;
}

.fa-facebook-official,.fa-twitter-square,.fa-linkedin-square, .big-fa>a>.fa,.fa-arrow-circle-up
{
    font-size: 31px;

}

.card .fa-facebook-official:hover,.card .fa-twitter-square:hover,.card .fa-linkedin-square:hover
{
    opacity: 0.9;
}

.card button
{
    margin-top: 5px;
}

.fa-phone-square
{
    font-size: 22px;
    color: #9E9B9B;
}
.fa-mobile{
    font-size: 30px;
    padding: 0 2px;
    color: #9E9B9B;
}

.alertsTop
{
    position: fixed;
    width: 60%;
    top: 0;
    left: 0;
    z-index: 10001;
    margin-left: 20%;
}

.alertsTop button
{
    display: block!important;
}

.custom-enter,
.custom-leave,
.custom-move {
  -webkit-transition: 1s linear all;
  -moz-transition: 1s linear all;
  -o-transition: 1s linear all;
  transition: 1s linear all;
  position:relative;
}

.propagandaMargins
{
    margin: 0px 0 8px;
    width: 110%;
    left: -5%;
    position: relative;
}

.propagandaMargins > div{
    padding: 0px;
}

.filterUl .fa-times
{
    position: absolute;
    right: 3px;
    top: 8px;
    color: #BDBBBB;
    cursor:pointer;
    z-index: 10;
}

.no-padding-right .col-lg-1, 
.no-padding-right .col-lg-10, 
.no-padding-right .col-lg-11, 
.no-padding-right .col-lg-12, 
.no-padding-right .col-lg-2, 
.no-padding-right .col-lg-3, 
.no-padding-right .col-lg-4, 
.no-padding-right .col-lg-5, 
.no-padding-right .col-lg-6, 
.no-padding-right .col-lg-7, 
.no-padding-right .col-lg-8, 
.no-padding-right .col-lg-9, 
.no-padding-right .col-md-1, 
.no-padding-right .col-md-10, 
.no-padding-right .col-md-11, 
.no-padding-right .col-md-12, 
.no-padding-right .col-md-2, 
.no-padding-right .col-md-3, 
.no-padding-right .col-md-4, 
.no-padding-right .col-md-5, 
.no-padding-right .col-md-6, 
.no-padding-right .col-md-7, 
.no-padding-right .col-md-8, 
.no-padding-right .col-md-9, 
.no-padding-right .col-sm-1, 
.no-padding-right .col-sm-10, 
.no-padding-right .col-sm-11, 
.no-padding-right .col-sm-12, 
.no-padding-right .col-sm-2, 
.no-padding-right .col-sm-3, 
.no-padding-right .col-sm-4, 
.no-padding-right .col-sm-5, 
.no-padding-right .col-sm-6, 
.no-padding-right .col-sm-7, 
.no-padding-right .col-sm-8, 
.no-padding-right .col-sm-9, 
.no-padding-right .col-xs-1, 
.no-padding-right .col-xs-10, 
.no-padding-right .col-xs-11, 
.no-padding-right .col-xs-12, 
.no-padding-right .col-xs-2, 
.no-padding-right .col-xs-3, 
.no-padding-right .col-xs-4, 
.no-padding-right .col-xs-5, 
.no-padding-right .col-xs-6, 
.no-padding-right .col-xs-7, 
.no-padding-right .col-xs-8, 
.no-padding-right .col-xs-9
{
    padding-right: 0px;
}

.fa-reply
{
    color:#7E7B7B;
}

.fa-reply:hover
{
    color:#3A3A3A;
}

.notAvailable,.notAvailable:hover,.notAvailable>.fa,.notAvailable:hover>.fa
{
    cursor:default;
    opacity:0.8;
}

.clearBoth {
    float: left;
    clear: both;
    content: "";
}
.glyphicon-education .glyphicon-briefcase
{
    font-size: 30px;
    color:#c00;
}

.nav-tabs>li>a:hover {
    border-color: #324C8C;
}

.nav>li>a:focus, .nav>li>a:hover {
    text-decoration: none;
    transition: background-color 900ms;
    background-color: #324C8C;
}

.tab-content
{
    border:1px solid #324C8C;
    min-height: 250px;
}

.nav-tabs>li>a {
    background: #2B4DA5;
    color: #FFFFFF;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover
{
    color: #FFFFFF;
    cursor: default;
/*    background-color: #A90000;*/
    border: 1px solid #324C8C;
    background-color: #324C8C;
    border-bottom-color: transparent;
}

.marginRow
{
    margin-top: 15px;
    margin-bottom: 15px;
}

.carousel-control:hover,.fa-arrow-circle-up
{
    cursor:pointer;
}

/*.fa-arrow-circle-up
{
  position: relative;
  top: -60px;
  right: 0px;
  color: #c00;
}*/
.fa-arrow-circle-up
{
    position: fixed;
    top: 60%;
    right: 0px;
    color: #20429D;
}

.fa-arrow-circle-up:hover
{
    color:#B60000
}

/*@media (min-width:768px)
{
    .fa-arrow-circle-up
    {
         right: 0px;
    }
}
@media (min-width:992px)
{
    .fa-arrow-circle-up
    {
        right: 0px;
    }
}
@media (min-width:1200px)
{
    .fa-arrow-circle-up
    {
        right: 173px;
    }
}*/


.GoogleMap {
    height:420px;
}
.infoWindowContent {
    font-size:  14px !important;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
.GoogleMap h2 {
    margin-bottom:0;
    margin-top: 0;
}

p
{
    word-wrap: break-word;
}
.card .fa-user, .user-details .fa-user{
    font-size: 109px;
    color: #429127;
    color: #277D91;    
}
/*.user-details .fa-user{
    
}*/

@media (min-width:768px)
{
    .card .fa-user
    {
        font-size: 119px;
    }
}
@media (min-width:992px)
{
    .card .fa-user
    {
        font-size: 109px;
    }
}
@media (min-width:1200px)
{
    .card .fa-user
    {
        font-size: 119px;
    }
}

.recaptcha-checkbox-checkmark{
    cursor:pointer;
}

.footer h3>a{
    color:#FFFFFF;
}

.registroProf h2
{
    text-align: center;
}
.registroProf .glyphicon
{
    color:#324C8C;
}

.registroProf .thumbnail{
    margin-bottom: 0px
}

.registroProf .card{
    padding: 20px 10px;
}

.planes>.panel-body>.row>div:first-child>span>.fa{
    font-size: 42px;
}

.planes> .panel-body > .row>div:first-child>span,
.planes> .panel-body > .row:not(:first-child) > div:nth-child(3)>span,
.planes> .panel-body > .row:not(:first-child) > div:nth-child(4)>span{
    display:block;
    text-align: center;
}

.planes>.panel-body>.row:not(:first-child){
    border-top: 1px solid #e1e1e1;
}

.planes>.panel-body>.row:last-child{
    border-bottom: 1px solid #e1e1e1;
}

.centerText{
    display: block;
    text-align: center;
}

.planes> .panel-body > .row:not(:first-child)>div:nth-child(2), 
.planes> .panel-body > .row:not(:first-child)>div:nth-child(3){
    border-right:1px solid #e1e1e1;
}  

.planes .fa-check{
    color: #8ecc70;
    font-size: 42px;  
}

.planes .fa-times{
    color: #9c9c9c;
    font-size: 42px;  
}

.fa-spinner{
    font-size: 43px;
    text-align: center;
}

.displaycenterText{
    text-align: center;
}

@media (min-width: 1366px){
    .container {
        width: 1324px;
    }
}
@media (min-width: 1440px){
    .container {
        width: 1400px;
    }
}
@media (min-width: 1600px){
    .container {
        width: 1550px;
    }
}
@media (min-width: 1920px){
    .container {
        width: 1760px;
    }
}

mark{
    background: #fedc45;
    background: rgba(254,220,69,.7);
    color: #000;
    display: inline-block;
    padding: .08em .2em;
    font-weight: 700;
    margin-top: 4px;
}

.logoRow{
    background-color: white;
    height: 85px;
    -webkit-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.2);
    -moz-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.2);
    -o-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.2);
    -ms-box-shadow: 0 3px 3px 0 rgba(0,0,0,0.2);
    /* box-shadow: 0 3px 3px 0 rgba(0,0,0,.2); */
}
.navbar-inverse{
    border-color: white;
}
.requiredAst{
    position: absolute;
    right: 5px;
    top: -3px;
    font-size: 21px;
    color: red;
}

.user-details .fa-home,.card .fa-home
{
    font-size: 22px;
    color: #9E9B9B;
}

.profLogoImg{
    height: 51px;
    padding-left: 15px;
}
label{
      color: #5b616a;
}

.planes>.panel-body>.row:not(:first-child)>div{
    padding-top: 10px;  
    line-height: normal;
    min-height:73px;
}

.planes>.panel-body>.row:nth-child(n+8)>div
{
    min-height:90px;
}
.registerTitle
{
    color: #1B1B1B;
    height: 380px;
    background-image: url("../img/contador.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    margin-bottom: 20px;
    padding-left: 20%;
}

.registerTitle .special-white-bg > h1{
    font-weight: bold;
    margin-top: 0;
}

.special-white-bg{
    background-color: rgba(255, 255, 255, 0.38);
    padding: 7px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 3px;
    padding-left: 40px;
}

.registerTitle .special-white-bg > p{
    
    font-size: 17px;
}

.registerTitle .special-white-bg > p > i{
   padding-right: 10px;
   color: #515451;
   font-size: 24px;
}

.registerTitle .glyphicon-education,.registerTitle .glyphicon-briefcase{
    color:#FFFFFF;
}


.user-detail-icons .fa{
    width: 22px;
}

.middleSearch{
    background-color: #2B4DA5;
    border-radius: 3px;
    padding-top: 15px;
    margin-top: 15px;
    margin:15px 0 35px;
}

.inputWdth{
    width:96%;
}

.principalCard{
    margin-bottom: 10px;
}

.principalCard img{
    height:200px;
    width: 100%;
}

.servOfSpans{
    border: 1px solid #324C8C;
    background-color: #324C8C;
    padding: 10px 15px;
    border-radius: 5px;
    color: #FFFFFF;
    font-weight: normal;
}

.carousel-inner  img{
    height: 366px!important;
    width: 100%;
    cursor:pointer;
}

.propaganda-right{
    height: 300px; margin-bottom: 20px;
    cursor:pointer;
}

.propaganda-right > img{
    box-shadow: 0 0 1em #DEDEDE;
    border: solid 1px #DEDEDE;
    width: 100%;
    height: 100%;
}

.propaganda-right > img:hover,.sorryDiv:hover{
    box-shadow: 0 0 1em #ADADAD;
}

.sorryDiv{
    padding: 15px;
    margin: 0 15px;
    background-color: #FFFFFF;
    box-shadow: 0 0 1em #DEDEDE;
    border: solid 1px #DEDEDE;
}

.fa-home{
    padding-right: 10px;
}
.planes>.panel-body>.row>div:first-child>span>.fa-certificate{
    color: #E8D000;
}
.planes>.panel-body>.row>div:first-child>span>.fa-usd{
    color: #006727;
}

.planes>.panel-body>.row>div:first-child>span>.fa-envelope-o{
    color: #9A5304;
}

.planes>.panel-body>.row>div:first-child>span>.fa-pencil-square-o{
    color: #A29100;
}
    
.planes>.panel-body>.row>div:first-child>span>.fa-phone{
    color: #9E0000;
}

.specialRow{
    margin-right: -32px;
    margin-left: -32px;
}    

.specialRow button{
    font-size: 20px;
    line-height: 20px;
    padding: 18px 23px;
    border-radius: 2px;
}
.xs-margin-left{
    margin-left: 15px;
}
.specialRow .superH1{
    color: #FFFFFF;
    margin-top: 0px;
}

.specialRow .niceBackground{
    background-color: rgba(0, 0, 0, 0.23);
    border-radius: 3px;
    padding:15px;
    text-align: center;
}

.sm-margin-top{
    margin-top: 17px;
}
.md-margin-top{
    margin-top: 20px;
}
.sub-Header-a{
    color: #9d9d9d;
    display: block;
    padding: 10px 15px;
    line-height: 20px;
    font-size: 14px;
    text-decoration: none;
}
.sub-Header-a:hover{
    color: #000000;
    font-weight: bold;
    text-decoration: none;
}

.volver-header{
    position: absolute;
    top: 2px;
    right: 2px;
}



@media (max-width:490px)
{
    .profLogoImg{
        height: 38px;
    }
    .sub-Header-a{
        padding-left: 5px;
        padding-right: 5px;
        font-size: 13px;
    }
}