body {
    padding-top: 70px;
}

.navbar-fixed-top
{
    background: #c00;
    border-bottom: 2px solid #990000;
}

.navbar-fixed-top .navbar-header > a,.navbar-inverse .navbar-nav>li>a
{
    color:#FFFFFF!important;
}

.navbar-fixed-top .navbar-header > a:hover,.navbar-inverse .navbar-nav>li>a:hover
{
    transition: background-color 1900ms;
  background-color: #B50000;
}

.panel-primary
{
/*    background: #c00;*/
    border-color:#990000;
}
.panel-primary>.panel-heading{
    background-color: #c00;
    border-color: #990000;
}
.form-control:focus {
  border-color: #E96666;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(233, 102, 102, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(233, 102, 102, 0.6);
}

.headerSearch
{
    background-image: url("../img/logobackground.png");
    background-repeat: repeat;
    height: 45px;
    padding-top: 5px;
}

.dropdown-menu
{
    max-height: 500px;
    overflow-y:scroll; 
}
.overflowDots
{
    display:inline-block;
    width: 180px;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
    line-height: 15px;
    text-align: left;
}
.btn
{
    padding: 7px 12px 4px;
}
.btn-primary
{
    background: #c00;
    border: 2px solid #BE0303;
}

.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary
{
    background:#B60000;
    border: 2px solid #A30303;
}

.btn-primary[disabled]
{
    background: #c00;
    border: 2px solid #BE0303;
}

.caret
{
    padding-top: 10px;
}
.form-control
{
    height: 33px;
}

.filterUl
{
   padding-top: 0;
}

.filterUl .btn-default
{
    border-radius: 0;
    border-top: none;
    border-left: none;
    padding-top: 8px;
}

.filterUl input
{
    border-top: none;
    border-radius: 0;
    border-right: none;
}

.filterUl .form-control:focus {
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    outline: none;
   -webkit-box-shadow: none;
    box-shadow: none;
}

.searchIcons
{
    background-color: #C54D4D;
    border: 1px solid #C54D4D;
    color: #FFFFFF;
    padding: 2px;    
    border-radius: 3px;
    font-size: 25px;
    margin-right: 5px;
    cursor:pointer;
}
.glyphicon-th-large
{
    padding-left: 4px;
}

.searchIcons:hover,.searchIconActive
{
    background: #c00;
    border: 1px solid #990000;
}

.card
{
    background: rgba(187, 200, 0, 0.09);
    box-shadow: 0 0 1em rgba(187, 200, 0, 0.28);
    margin-bottom: 17px;
}

.card img
{
/*    height: 100px;*/
    margin-top: 4px;
}

.card h2
{
      margin-top: 4px;
}

.card:hover,.cardhover
{
    box-shadow: 0 0 1em rgba(187, 200, 0, 0.77);
    cursor:pointer;
}
.cardhover>.thumbnail{
  background: #EAEAEA;  
}
  

.card .glyphicon-envelope
{
    font-size: 16px;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus
{
    outline:none;
}

.fa-facebook-official
{
    color: #3a5795;
}
.fa-twitter-square
{
      color: #00aced;
}
.fa-linkedin-square
{
      color: #007bb6;
}

.fa-facebook-official,.fa-twitter-square,.fa-linkedin-square, .big-fa>a>.fa,.fa-arrow-circle-up
{
    font-size: 31px;
    
}

.card .fa-facebook-official:hover,.card .fa-twitter-square:hover,.card .fa-linkedin-square:hover
{
    opacity: 0.9;
}

.card button
{
    margin-top: 5px;
}

.fa-phone-square
{
    font-size: 22px;
    color: #c00;
    background: white;
}
.fa-mobile{
    font-size: 30px;
    padding: 0 2px;
    color: #c00;
    background: white;
}

.alertsTop
{
    position: fixed;
    width: 60%;
    top: 0;
    left: 0;
    z-index: 10001;
    margin-left: 20%;
}

.alertsTop button
{
    display: block!important;
}

.propagandaMargins
{
    margin: 8px 0;
}

.filterUl .fa-times
{
    position: absolute;
    right: 3px;
    top: 8px;
    color: #BDBBBB;
    cursor:pointer;
    z-index: 10;
}

.no-padding-right .col-lg-1, 
.no-padding-right .col-lg-10, 
.no-padding-right .col-lg-11, 
.no-padding-right .col-lg-12, 
.no-padding-right .col-lg-2, 
.no-padding-right .col-lg-3, 
.no-padding-right .col-lg-4, 
.no-padding-right .col-lg-5, 
.no-padding-right .col-lg-6, 
.no-padding-right .col-lg-7, 
.no-padding-right .col-lg-8, 
.no-padding-right .col-lg-9, 
.no-padding-right .col-md-1, 
.no-padding-right .col-md-10, 
.no-padding-right .col-md-11, 
.no-padding-right .col-md-12, 
.no-padding-right .col-md-2, 
.no-padding-right .col-md-3, 
.no-padding-right .col-md-4, 
.no-padding-right .col-md-5, 
.no-padding-right .col-md-6, 
.no-padding-right .col-md-7, 
.no-padding-right .col-md-8, 
.no-padding-right .col-md-9, 
.no-padding-right .col-sm-1, 
.no-padding-right .col-sm-10, 
.no-padding-right .col-sm-11, 
.no-padding-right .col-sm-12, 
.no-padding-right .col-sm-2, 
.no-padding-right .col-sm-3, 
.no-padding-right .col-sm-4, 
.no-padding-right .col-sm-5, 
.no-padding-right .col-sm-6, 
.no-padding-right .col-sm-7, 
.no-padding-right .col-sm-8, 
.no-padding-right .col-sm-9, 
.no-padding-right .col-xs-1, 
.no-padding-right .col-xs-10, 
.no-padding-right .col-xs-11, 
.no-padding-right .col-xs-12, 
.no-padding-right .col-xs-2, 
.no-padding-right .col-xs-3, 
.no-padding-right .col-xs-4, 
.no-padding-right .col-xs-5, 
.no-padding-right .col-xs-6, 
.no-padding-right .col-xs-7, 
.no-padding-right .col-xs-8, 
.no-padding-right .col-xs-9
{
    padding-right: 0px;
}

.fa-reply
{
    color:#7E7B7B;
}

.fa-reply:hover
{
    color:#3A3A3A;
}

.notAvailable,.notAvailable:hover,.notAvailable>.fa,.notAvailable:hover>.fa
{
    cursor:default;
    opacity:0.8;
}

.clearBoth {
    float: left;
    clear: both;
    content: "";
}
.glyphicon-education .glyphicon-briefcase
{
    font-size: 30px;
    color:#c00;
}

.nav-tabs>li>a:hover {
  border-color: #990000;
}

.nav>li>a:focus, .nav>li>a:hover {
  text-decoration: none;
  transition: background-color 900ms;
  background-color: #A90000;
}

.tab-content
{
    border:1px solid #c00;
    min-height: 250px;
}

.nav-tabs>li>a {
  background: #CB3939;
  color: #FFFFFF;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover
{
    color: #FFFFFF;
    cursor: default;
    background-color: #A90000;
    border: 1px solid #A90000;
    border-bottom-color: transparent;
}

.marginRow
{
    margin-top: 15px;
    margin-bottom: 15px;
}

.carousel-control:hover,.fa-arrow-circle-up
{
    cursor:pointer;
}

/*.fa-arrow-circle-up
{
  position: relative;
  top: -60px;
  right: 0px;
  color: #c00;
}*/
.fa-arrow-circle-up
{
    position: fixed;
    top: 60%;
    right: 0px;
    color: #c00;
}

.fa-arrow-circle-up:hover
{
    color:#B60000
}

/*@media (min-width:768px)
{
    .fa-arrow-circle-up
    {
         right: 0px;
    }
}
@media (min-width:992px)
{
    .fa-arrow-circle-up
    {
        right: 0px;
    }
}
@media (min-width:1200px)
{
    .fa-arrow-circle-up
    {
        right: 173px;
    }
}*/


.GoogleMap {
    height:420px;
}
.infoWindowContent {
    font-size:  14px !important;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}
.GoogleMap h2 {
    margin-bottom:0;
    margin-top: 0;
}

p
{
    word-wrap: break-word;
}
.card .fa-user, .user-details .fa-user{
    font-size: 109px;
    color: #429127;
    color: #277D91;    
}
/*.user-details .fa-user{
    
}*/

@media (min-width:768px)
{
    .card .fa-user
    {
           font-size: 119px;
    }
}
@media (min-width:992px)
{
    .card .fa-user
    {
           font-size: 109px;
    }
}
@media (min-width:1200px)
{
    .card .fa-user
    {
           font-size: 119px;
    }
}

.recaptcha-checkbox-checkmark{
    cursor:pointer;
}

.footer h3>a{
    color:#FFFFFF;
}

.registroProf h2
{
    text-align: center;
}
.registroProf .glyphicon
{
    color:#c00;
}

.registroProf .thumbnail{
    margin-bottom: 0px
}

.registroProf .card{
      padding: 20px 10px;
}

.planes>.panel-body>.row>div:first-child>span>.fa{
  color: #949494;
  font-size: 42px;
}

.planes> .panel-body > .row>div:first-child>span,
.planes> .panel-body > .row:not(:first-child) > div:nth-child(3)>span,
.planes> .panel-body > .row:not(:first-child) > div:nth-child(4)>span{
    display:block;
    text-align: center;
}

.planes>.panel-body>.row:not(:first-child){
    border-top: 1px solid #e1e1e1;
}

.planes>.panel-body>.row:last-child{
    border-bottom: 1px solid #e1e1e1;
}

.planes>.panel-body>.row:not(:first-child)>div{
    padding-top: 10px;  
    line-height: normal;
    height:73px;
}

.centerText{
    display: block;
    text-align: center;
}

.planes> .panel-body > .row:not(:first-child)>div:nth-child(2), 
.planes> .panel-body > .row:not(:first-child)>div:nth-child(3){
    border-right:1px solid #e1e1e1;
}  

.planes .fa-check{
  color: #8ecc70;
  font-size: 42px;  
}

.planes .fa-times{
  color: #9c9c9c;
  font-size: 42px;  
}

.fa-spinner{
    font-size: 43px;
    text-align: center;
}

.displaycenterText{
    text-align: center;
}

@media (min-width: 1366px){
    .container {
        width: 1324px;
    }
}
@media (min-width: 1440px){
    .container {
        width: 1400px;
    }
}
@media (min-width: 1600px){
    .container {
        width: 1550px;
    }
}
@media (min-width: 1920px){
    .container {
        width: 1870px;
    }
}
