.navbar-fixed-top
{
    background: #c00;
    border-bottom: 2px solid #990000;
}

.navbar-fixed-top .navbar-header > a,.navbar-inverse .navbar-nav>li>a
{
    color:#FFFFFF!important;
}


.navbar-fixed-top .navbar-header > a:hover,.navbar-inverse .navbar-nav>li>a:hover
{
    transition: background-color 1900ms;
  background-color: #B50000;
}

.panel-primary
{
/*    background: #c00;*/
    border-color:#990000;
}
.panel-primary>.panel-heading{
    background-color: #c00;
    border-color: #990000;
}
.form-control:focus {
  border-color: #E96666;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(233, 102, 102, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(233, 102, 102, 0.6);
}

.headerSearch
{
    background-image: url("../img/logobackground.png");
    background-repeat: repeat;
    height: 45px;
    padding-top: 5px;
}

.dropdown-menu
{
    max-height: 500px;
    overflow-y:scroll; 
}
.overflowDots
{
    display:inline-block;
    width: 180px;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
    line-height: 15px;
    text-align: left;
}
.btn
{
    padding: 7px 12px 4px;
}
.btn-primary
{
    background: #c00;
    border: 2px solid #BE0303;
}

.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary
{
    background:#B60000;
    border: 2px solid #A30303;
}
.caret
{
    padding-top: 10px;
}
.form-control
{
    height: 33px;
}

.contentContainer {
  min-height: 500px;
}

.filterUl
{
   padding-top: 0;
}

.filterUl .btn-default
{
    border-radius: 0;
    border-top: none;
    border-left: none;
    padding-top: 8px;
}

.filterUl input
{
    border-top: none;
    border-radius: 0;
    border-right: none;
}

.filterUl .form-control:focus {
    border-left: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    outline: none;
   -webkit-box-shadow: none;
    box-shadow: none;
}

.searchIcons
{
    background-color: #C54D4D;
    border: 1px solid #C54D4D;
    color: #FFFFFF;
    padding: 2px;    
    border-radius: 3px;
    font-size: 25px;
    margin-right: 5px;
    cursor:pointer;
}
.glyphicon-th-large
{
    padding-left: 4px;
}

.searchIcons:hover,.searchIconActive
{
    background: #c00;
    border: 1px solid #990000;
}

.card
{
    background: rgba(187, 200, 0, 0.09);
    box-shadow: 0 0 1em rgba(187, 200, 0, 0.28);
    margin-bottom: 17px;
}

.card img
{
    height: 100px;
    width: 90px;
    margin-top: 4px;
}

.card h2
{
      margin-top: 4px;
}

.card:hover
{
    box-shadow: 0 0 1em rgba(187, 200, 0, 0.77);
    cursor:pointer;
}

.card .glyphicon-envelope
{
    font-size: 16px;
}

.btn.active.focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn:active:focus, .btn:focus
{
    outline:none;
}

.fa-facebook-official
{
    color: #3a5795;
}
.fa-twitter-square
{
      color: #00aced;
}
.fa-linkedin-square
{
      color: #007bb6;
}

.card .fa-facebook-official,.card .fa-twitter-square,.card .fa-linkedin-square
{
    font-size: 31px;
    
}

.card .fa-facebook-official:hover,.card .fa-twitter-square:hover,.card .fa-linkedin-square:hover
{
    opacity: 0.9;
}

.card button
{
    margin-top: 5px;
}

.fa-phone-square
{
    font-size: 22px;
    color: #c00;
    background: white;
}
.fa-mobile{
    font-size: 30px;
    padding: 0 2px;
    color: #c00;
    background: white;
}

.alertsTop
{
    position: absolute;
    width: 60%;
    top: 0;
    left: 0;
    z-index: 10001;
    margin-left: 20%;
}

.alertsTop button
{
    display: block!important;
}

.propagandaMargins
{
    margin: 8px 0;
}